<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="multilingual_tokens">
  <description>PHP CodeSniffer configuration for multilingual_tokens module.</description>

  <file>.</file>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>
  <arg name="colors"/>
  <arg value="sp"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>

  <exclude-pattern>README.md</exclude-pattern>
  <exclude-pattern>vendor/</exclude-pattern>
  <exclude-pattern>node_modules/</exclude-pattern>
</ruleset>
